<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
  crossorigin="anonymous"
/>

<h2 class="my-3"><pre class="text-danger">Error. Something went wrong</pre></h2>
<pre>
  _               _
   \ / ( ' ' ) \ /
</pre>
<pre>
  <%= error %>
</pre>
