<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
  crossorigin="anonymous"
/>
<div class="m-3">
  <h2 class="text-primary">Sending...Get it?</h2>
  <pre style="overflow-x: hidden;"><%= buffer %></pre>
  <a href="/">Back To Search</a>
</div>
