<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
  crossorigin="anonymous"
/>
<div class="m-3">
  <h2 class="text-primary">Sent To Firebase</h2>
  <div class="mx-3">
    <a class="row" target="_blank" href="<%= url %>" url %>>Listen</a>
    <a class="row" href="/">Back To Search</a>
  </div>
</div>
